@model TMADll.Models.StudySession

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudySession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentModule.Code" class="control-label"></label>
                <select asp-for="StudentModule.Code" class="form-control" asp-items="ViewBag.StudentModuleCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudyDate" class="control-label"></label>
                <input asp-for="StudyDate" class="form-control" />
                <span asp-validation-for="StudyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfHours" class="control-label"></label>
                <input asp-for="NoOfHours" class="form-control" />
                <span asp-validation-for="NoOfHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
